version: '3.1'

services:

  mongo:
    container_name: "messenger-mongo"
    image: prismagraphql/mongo-single-replica:5.0.3
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
    ports:
      - 27017:27017

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: secret
<<<<<<< HEAD
      ME_CONFIG_MONGODB_URL: mongodb://root:secret@mongo:27017/
=======
      ME_CONFIG_MONGODB_URL: mongodb://root:secret@mongo:27017/
>>>>>>> dev
