.main {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgb(240, 240, 240);

   form {
      display: flex;
      flex-direction: column;

   }

   h1 {
      margin: 15px 0;
   }
}