.main {
   width: 400px;
   padding: 40px 20px;
   background-color: white;
   display: flex;
   flex-direction: column;
   border-radius: 8px;
   box-shadow: 0px 0px 3px 1px grey;

   h4 {
      margin-bottom: 5px;
      font-size: 14px;
   }

   button {
      width: 100%;
      margin-left: auto;
   }
}

.input {
   transition: .5s;
   margin-bottom: 15px;

   p {
      font-size: 13px;
      font-weight: bold;
      color: rgb(184, 1, 1);
   }
}

.continue {
   position: relative;
   text-align: center;
   margin: 20px 0;

   span::before {
      content: " ";
      background: #c4c4c4;
      width: 100px;
      height: 1px;
      top: 10px;
      left: 10px;
      position: absolute;
   }

   span::after {
      content: " ";
      background: #c4c4c4;
      width: 100px;
      height: 1px;
      top: 10px;
      left: 250px;
      position: absolute;
   }
}

.socialIcons {
   display: flex;
   width: 100%;
   align-items: center;

   >a {
      width: 100%;
      padding: 7px 5px;
      outline: none;
      border: 1px solid rgb(228, 228, 228);
      transition: .3s;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      color: black;

      &:hover {
         cursor: pointer;
         transition: .3s;
         background-color: rgb(228, 228, 228);
      }
   }

   button {
      padding: 7px 5px;
      outline: none;
      border: 1px solid rgb(228, 228, 228);
      transition: .3s;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;

      &:hover {
         cursor: pointer;
         transition: .3s;
         background-color: rgb(228, 228, 228);
      }
   }
}

.changeForm {
   margin: 30px auto 0;
   display: flex;

   a {
      margin-left: 5px;
      text-decoration: underline;

      &:hover {
         cursor: pointer;
      }
   }
}